* {
    font-family:'Poppins', sans-serif;
}

.ct {
    text-align:center;
}

.br th, .br td{
    border:1px solid #000;
    padding: 5px 10px;
}

.br {
    border-spacing:0;
}

.error{
    color:red;
    font-style:italic;
}

.message{
    color:green;
    font-style:italic;
}